.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
table{
    height: 800px;
    width: auto;
}
.nav-link{
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: gray;
}

@font-face{
    font-family: MyFont;
    src: url(FONT.otf);
}

h1{
    font-family: MyFont;
}